# SKABEN system basic config
# dev_type: 'device type'
# iface: network interface (defines automatically)
# broker_ip: 'broker ip address'
# username: 'optional mqtt username'
# password: 'optional mqtt password'

iface: ${iface}
